<div>
  <mat-grid-list cols="1" rowHeight="170px" gutterSize="0">
    <mat-grid-tile rowspan="5" class="full-image-tile">
      <img src="assets/images/portada.png" alt="Portada">
      <span class="image-text">Un camino hacia</span>
      <span class="image-text">el bienestar</span>
      <span class="image-text">animal</span>
      <p class="image-text-2">Responsabilidad, Compromiso y Valor.</p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4" class="settings-row">
      <div><img src="assets/images/fila2.png" alt="Login" class="img1"></div>
      <div class="settings-buttons">
        <div class="titulofila2"><div>Esperanza Animal</div><div id="titulo"><img src="assets/images/logoapp.png" alt="logo" class="img2"></div></div>
        <div class="parrafo"><p>La finalidad de este sitio web es brindar ayuda y apoyo, ya sea para aquellas mascotas
          con hogar que lleguen a extraviarse, o sufran de maltrato ya sea por parte de sus dueños o por
          otros individuos, y para todos aquellos animales en estado de abandono que no tienen un hogar propio
          y necesitan de la ayuda de la gente para llegar a tener una mejor vida.</p>
        </div>
        <div>
          <div class="titulo-botones">Únete a nosotros</div>
          <div><button type="button" class="btn btn-outline-primary custom-btn">Registrate Ahora</button></div>
          <div class="titulo-botones">Ya tienes una cuenta, genial !!!</div>
          <div><button type="button" class="btn btn-outline-primary custom-btn">Ingresa Ahora</button></div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4" class="setings-row">
      <div id="arreglofila3">
        <div id="izquierdofila3">
          <div id="titulofila3">Nuestros Servicios</div>
          <div><img src="assets/images/fila3.png" alt="info" class="img3"></div>
        </div>
        <div id="derechafila3">
          <div class="alineacionnumerales">
            <div class="numerales">01</div>
            <div>
              <div class="textonumerales">REGISTRO DE MASCOTAS</div>
              <div class="descripcionnumerales">Registra a tu mascota en nuestro sistema para crearle un perfil de presentación propio.</div>
            </div>
          </div>
          <div class="alineacionnumerales">
            <div class="numerales">02</div>
            <div>
              <div class="textonumerales">ALERTA DE ABANDONO</div>
              <div class="descripcionnumerales">En caso de conocer animales en estado de abandono crea un reporte y da a conocer el caso.</div>
            </div>
          </div>
          <div class="alineacionnumerales">
            <div class="numerales">03</div>
            <div>
              <div class="textonumerales">ALERTA DE MALTRATO</div>
              <div class="descripcionnumerales">En caso de conocer o presenciar maltrato hacia animales reporta este caso entre nuestra
                comunidad para que se tomen medidas en contra de estas personas.
              </div>
            </div>
          </div>
          <div class="alineacionnumerales">
            <div class="numerales">04</div>
            <div>
              <div class="textonumerales">BRINDAR APOYO</div>
              <div class="descripcionnumerales">Si deseas puedes llegar a dar apoyo a los diferentes animales que lo necesitan, dales un
                hogar o recursos para subsistir de una forma digna.
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4" class="setings-row">
      <div id="arreglofila4">
        <div id="titulofila4"><strong>Nuestros Usuarios</strong></div>
        <div id="descripcionfila4">Desde nuestros inicios, nuestro objetivo ha sido simple pero claro, brindar apoyo a los animales, por esta misma razón es que la
          aplicación puede ser utilizada por cualquier tipo de usuario.
        </div>
        <div id="alineaciontarjetas">
          <div>
            <mat-card class="usuario-card" appearance="outlined">
              <img mat-card-image src="assets/images/fila41.png" alt="fila4img1" class="imgsfila4">
              <mat-card-content>
                <p class="textocards">
                  DUEÑOS DE UNA MASCOTA
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card class="usuario-card" appearance="outlined">
              <img mat-card-image src="assets/images/fila42.png" alt="fila4img1" class="imgsfila4">
              <mat-card-content>
                <p class="textocards">
                  PERSONAS CON GANAS DE AYUDAR
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card class="usuario-card" appearance="outlined">
              <img mat-card-image src="assets/images/fila43.png" alt="fila4img1" class="imgsfila4">
              <mat-card-content>
                <p class="textocards">
                  PERSONAS AMANTES DE LOS ANIMALES
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4" class="setings-row">
      <div id="arreglofila5">
        <div id="textofila5"><strong>"Respetar a los animales es una obligación, amarlos es un privilegio".</strong></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4" class="setings-row">
      <div id="arreglofila6">
        <div id="arregloizquierdafila6">
          <div id="titulofila6">Trabajemos juntos por su bienestar</div>
          <div><img src="assets/images/fila6.png" alt="info2" class="imgfila6"></div>
        </div>
        <div id="arregloderechafila6">
          <div id="informacionderechafila6">
            <div>
              <div class="infofila6">DIRECCIÓN POSTAL</div>
              <div class="respuestafila6">Escuela Politécnica Nacional</div>
            </div>
            <div>
              <div class="infofila6">NÚMERO TELEFÓNICO</div>
              <div class="respuestafila6">(563) 1234567890</div>
            </div>
            <div>
              <div class="infofila6">DIRECCIÓN DE CORREO ELECTRÓNICO</div>
              <div class="respuestafila6"><p>hola&#64;sitioincreible.mx</p></div>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
